.brending__slogan {
  box-sizing: border-box;
  min-height: 490px;
  padding-top: 79px;
  padding-bottom: 100px;
  
  background-image: url(../img/content/smm-question-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.brending__slogan-headline {
  .reset();
  
  margin-bottom: 45px;
  
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  color: #ffffff;
  text-align: center;
}

.brending__slogan-title {
  .reset();
  
  margin-bottom: 12px;
  
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
}

.brending__slogan-text {
  .reset();
  
  width: 635px;
  margin: 0 auto 37px auto;
  
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.brending__slogan-link {
  display: block;
  width: 214px;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 7px;
  
  font-size: 12px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0e4e61;
  text-align: center;
  text-decoration: none;
  
  border-radius: 88px;
  background-color: #ffffff;
  
  transition: 0.2s ease;
  &:hover {
    color: #ffffff;
    background-color: rgba(0, 15, 86, 0.2);
    border-color: #418193;
  }
}

.brending__about {
  padding-top: 79px;
}

.brending__about-headline {
  .reset();
  
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  color: #16193f;
  text-align: center;
}

.brending__about-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 377px;
  min-height: 534px;
  
  box-shadow: 3px 2px 8px 3px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
}

.brending__about-block-headline {
  .reset();
  
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #16193f;
  text-align: center;
}

.brending__about-block-border {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  
  background-color: #000000;
}

.brending__about-block-text {
  .reset();
  
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}