.case-fonts {
  background-color: #F3F6F8;
  &--itrip {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &--clearBg {
    background-color: transparent;
  }
}

.case-fonts__img {
  img {
    display: block;
  }
}