.case-pageDesign {
  margin-bottom: 86px;
  padding-top: 89px;
}

.case-pageDesign__linkWrap {
  width: 470px;
}

.case-pageDesign__description {
  .reset();
  
  width: 570px;
  margin: 0 auto 47px auto;
  
  font-size: 15px;
  font-weight: 400;
  line-height: 34px;
  color: #000000;
  text-align: center;
}

.case-pageDesign__headline {
  .reset();
  margin-bottom: 49px;
  
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  color: #0829cc;
  text-align: center;
  &--content {
    margin-bottom: 60px;
  }
  &--contactsForm {
    color: #ffffff;
  }
}

.case-pageDesign__link {
  position: absolute;
  bottom: 79px;
  
  align-self: center;
  
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 1px;
  text-decoration: none;
  &--prev,
  &--next {
    &::before,
    &::after {
      content: '';
      
      position: absolute;
      top: -3px;
      
      transform: rotateZ(90deg);
      
      .bg-svg(@prev-next-border);
    }
    &::before {
      left: -28px;
    }
    &::after {
      left: 83px;
    }
  }
  &--prev {
    left: -114px;
    
    transform: rotateZ(-90deg);
  }
  &--next {
    right: -114px;
    z-index: 30;
    
    transform: rotateZ(90deg);
  }
}

.case-pageDesign__blocksWrap {
  position: relative;
  
  display: flex;
  justify-content: center;
}

.case-pageDesign__block {
  width: 370px;
  margin-right: 30px;
  &--margin {
    margin-right: 0;
  }
  img {
    display: block;
    
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.14);
  }
}

.case-pageDesign__img {
  margin-bottom: 89px;
  img {
    display: block;
  }
}
