.case-services {
  margin-bottom: 117px;
  &--padding {
    padding-top: 84px;
  }
}

.case-services__headline {
  .reset();
  
  margin-bottom: 52px;
  
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  color: #16193f;
  text-align: center;
  &--seo {
    margin-bottom: 31px;
  }
}

@media (max-width: 767px) {
  .case-services {
    margin-bottom: 48px;
    &--padding {
      padding-top: 40px;
    }
  }
  
  .case-services__headline {
    margin-bottom: 23px;
    
    color: #16193f;
    font-size: 26px;
    font-weight: 700;
    line-height: 41px;
    &--webDesign {
      margin-bottom: 61px;
    }
  }
}