.case-pageDesign {
  margin-bottom: 86px;
  padding-top: 89px;
  &--bg {
    padding-bottom: 100px;
    
    background-color: #FCFCFC;
  }
}

.case-pageDesign__linkWrap {
  width: 470px;
}

.case-pageDesign__description {
  .reset();
  
  width: 570px;
  
  
  font-size: 15px;
  font-weight: 400;
  line-height: 34px;
  color: #000000;
}

.case-pageDesign__headline {
  .reset();
  margin-bottom: 49px;
  
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  color: #0829cc;
  text-align: center;
  &--content {
    margin-bottom: 60px;
  }
  &--contactsForm {
    color: #ffffff;
  }
}

.case-pageDesign__blocksWrap {
  position: relative;
  
  display: flex;
  justify-content: space-between;
  &--padding {
    padding-top: 90px;
  }
}

.case-pageDesign__block {
  width: 370px;
  margin-right: 30px;
  &--margin {
    margin-right: 0;
  }
  img {
    display: block;
    
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.14);
  }
}

.case-pageDesign__img {
  margin-bottom: 89px;
  img {
    display: block;
  }
}

@media (max-width: 899px) {
  .case-pageDesign {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  .case-pageDesign__blocksWrap {
    flex-direction: column;
    &--padding {
      padding-top: 30px;
    }
  }
  .case-pageDesign__linkWrap {
    width: auto;
    .page-header__caseDescriptionHead-border {
      width: 100%;
    }
  }
  
  .case-pageDesign__description {
    width: auto;
  }
}

@media (max-width: 767px) {
  .case-pageDesign__headline {
    font-size: 36px;
    line-height: 46px;
    &--contactsForm {
      margin-bottom: 21px;
    }
  }
  
  .case-pageDesign__linkWrap {
    margin-bottom: 14px;
  }
}
