.logo {
  width: 170px;
  a {
    display: block;
    width: 170px;
    height: 65px;
    
    background-image: url(%=static=%content/logo-img.svg);
    background-repeat: no-repeat;
  }
  &--case {
    a {
      background-image: url(%=static=%content/logo-case-img.svg);
    }
  }
}

@media (max-width: 767px) {
  .logo {
    a {
      width: 100px;
      height: 38px;

      background-image: url(%=static=%content/logo-mobile.svg);
    }
  }
}
