.page-header {
  height: 100vh;
  background-image: url(%=static=%/content/page-header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  background-color: #0829cc;
  .container {
    position: relative;
    
    display: flex;
    flex-direction: column;
    padding-top: 61px;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
  }
  &--case {
    height: auto;
    padding-bottom: 66px;
    
    background-color: transparent;
    background-image: none;
    .page-header__blockDescription-rowTop {
      margin-bottom: 168px;
    }
  }
}

.footer-nav {
  background-color: transparent !important;
  box-shadow: none !important;
  .logo {
      a {
        width: 170px !important;
        height: 65px !important;
        background-image: url(%=static=%content/logo-img.svg) !important;
      }
    }
  .main-nav__item {
    display: block !important;
    padding-bottom: 3px !important;
    
    color: #ffffff !important;
    
    border-bottom: 1px solid transparent;
    &.mPS2id-highlight {
      display: block !important;
      padding-bottom: 3px !important;
      
      border-bottom: 1px solid #ffffff !important;
      
      opacity: 1 !important;
    }
  }
  .page-header__subscribe-link {
    color: #ffffff !important;
    
    border-color: #ffffff !important;
  }
  .social__link {
    &--fb {
      &::before {
        .bg-svg(@fb) !important;
      }
      &:hover {
        &::before {
          .bg-svg(@fb-hover) !important;
        }
      }
    }
    &--inst {
      &::before {
        .bg-svg(@inst) !important;
      }
      &:hover {
        &::before {
          .bg-svg(@inst-hover) !important;
        }
      }
    }
  }
}

.page-header__blockDescription-rowTop {
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 22px;
      
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.03);    
    background-color: #fff;
    
    transition: 0.5s ease;
    .page-header__blockDescription-rowTop-wrap {
      width: 1260px;
      margin: 0 auto;
    }
    .logo {
      a {
        width: 110px;
        height: 42px;
        background-image: url(%=static=%content/logo-case-img.svg);
      }
    }
    .main-nav__item {
      display: block;
      padding-bottom: 3px;
      
      color: #000000;
      
      border-bottom: 1px solid transparent;
      &.mPS2id-highlight {
        display: block;
        padding-bottom: 3px;

        border-bottom: 1px solid #000000;
      }
    }
    .social__link {
      &--fb {
        &::before {
          .bg-svg(@fb-scroll);
        }
        &:hover {
          &::before {
            .bg-svg(@fb-scroll-hover);
          }
        }
      }
      &--inst {
        &::before {
          .bg-svg(@inst-scroll);
        }
        &:hover {
          &::before {
            .bg-svg(@inst-scroll-hover);
          }
        }
      }
    }
  }
}
   
.page-header__blockDescription-rowTop-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    
    background-color: #fff;
    .logo {
      a {
        width: 110px;
        height: 42px;
        background-image: url(%=static=%content/logo-case-img.svg);
      }
    }
    .main-nav__item {
      color: #000000;
    }
    .page-header__subscribe-link {
      color: #000000;
      
      border-color: #000000;
    }
  }
  &--case {
    .social__link {
      &--inst {
        &::before {
          .bg-svg(@inst-scroll);
        }
        &:hover {
          &::before {
            .bg-svg(@inst-scroll-hover);
          }    
        }
      }
      &--fb {
        &::before {
          .bg-svg(@fb-scroll);
        }
        &:hover {
          &::before {
            .bg-svg(@fb-scroll-hover);
          }
        }
      }
    }
  }
}

.page-header__blockDescriptionrowBottom {
  display: flex;
    flex-direction: column;
  position: relative;
    left: 18px;
}

.page-header__headline {
  .reset();
  
  margin-bottom: 30px;
  
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  color: #ffffff;
}

.page-header__text {
  .reset();
  display: block;
  margin: 0 auto;
  margin-bottom: 27px;
  text-align: center;
  width: 617px;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  color: #ffffff;
  
}

.page-header__link {
  text-align: center;
  border-radius: 30px;
  line-height: 39px;
  margin: 0 auto;
  width: 194px;
  display: inherit;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  font-weight: 700;
  
  text-transform: uppercase;
  letter-spacing: 2px;
  
  text-decoration: none;
  color: #16193f;
  background-color: #ffffff;
  
  border: 1px solid transparent;
  
  transition: 0.2s ease;
  &:hover {
    color: #ffffff;
    
    background-color: rgba(0, 15, 86, 0.2);
    
    border-color: #ffffff;
  }
}
  
.page_header__scroll {
  position: relative;
  
  margin-bottom: 57px;
  padding-top: 68px;
  
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  &::before {
    content: '';
    
    position: absolute;
    top: 7px;
    left: 49.9%;
    
    .bg-svg(@scroll-icon);
  }
}

.page-header__caseDescriptionHead {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.page-header__caseDescriptionHead-block {
  width: 397px;
  &--text {
    width: 570px;
  }
}

.page-header__caseDescriptionHead-linkWrap {
  margin-bottom: 18px;
}

.page-header__caseDescriptionHead-link {
  display: block;
  margin-bottom: 26px;
  
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
  color: #16193f;
  text-decoration: none;
  &--portfolio {
    display: inline;
    margin-bottom: 21px;
    
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &--pageDesign {
    margin-bottom: 21px;
    
    font-size: 40px;
  }
}

.page-header__caseDescriptionHead-border {
  width: 393px;
  height: 1px;
  margin-bottom: 9px;
  
  background-color: #000;
}

.page-header__caseDescriptionHead-list {
  .reset();
  
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  
  list-style: none;
}

.page-header__caseDescriptionHead-items {
  margin-right: 34px;
  
  font-size: 16px;
  line-height: 35px;
  font-weight: 700;
  color: #0e4e61;
  text-decoration: none;
}

.page-header__caseDescriptionHead-text {
  .reset();
  
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  color: #000000;
}

.page-header__subscribe-link {
  text-align: center;
  width: 172px;
  text-decoration: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 39px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  &--scroll {
    color: #0829cc;
    
    border-color: #0829cc;
  }
  &--case {
    color: #000000;
    
    border-color: #000000;
  }
}