.page-header {
  height: 100vh;
  background-image: url(%=static=%/content/page-header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  background-color: #22636f;
  .container {
    position: relative;
    
    display: flex;
    flex-direction: column;
    padding-top: 61px;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
  }
  &--case {
    height: auto;
    padding-bottom: 66px;
    
    background-color: transparent;
    background-image: none;
    .page-header__blockDescription-rowTop {
      margin-bottom: 168px;
    }
  }
}

.page-header__button {
  .reset();
  
  display: none;
  
  background-color: transparent;
  border: none;
  outline: none;
  
  .bg-svg(@page-header-button);
}

.footer-nav {
  background-color: transparent !important;
  box-shadow: none !important;
  .logo {
      a {
        width: 170px !important;
        height: 65px !important;
        background-image: url(%=static=%content/logo-img.svg) !important;
      }
    }
  .main-nav__item {
    display: block !important;
    padding-bottom: 3px !important;
    
    color: #ffffff !important;
    
    border-bottom: 1px solid transparent;
    &.mPS2id-highlight {
      display: block !important;
      padding-bottom: 3px !important;
      
      border-bottom: 1px solid #ffffff !important;
      
      opacity: 1 !important;
    }
  }
  .page-header__subscribe-link {
    color: #ffffff !important;
    
    border-color: #ffffff !important;
  }
  .social__link {
    &--fb {
      &::before {
        .bg-svg(@fb) !important;
      }
      &:hover {
        &::before {
          .bg-svg(@fb-hover) !important;
        }
      }
    }
    &--inst {
      &::before {
        .bg-svg(@inst) !important;
      }
      &:hover {
        &::before {
          .bg-svg(@inst-hover) !important;
        }
      }
    }
  }
}

.page-header__blockDescription-rowTop {
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 22px;
      
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.03);    
    background-color: #fff;
    
    transition: 0.5s ease;
    .page-header__blockDescription-rowTop-wrap {
      width: 1260px;
      margin: 0 auto;
    }
    .logo {
      a {
        width: 110px;
        height: 42px;
        background-image: url(%=static=%content/logo-case-img.svg);
      }
    }
    .main-nav__item {
      display: block;
      padding-bottom: 3px;
      
      color: #000000;
      
      border-bottom: 1px solid transparent;
      &.mPS2id-highlight {
        display: block;
        padding-bottom: 3px;

        border-bottom: 1px solid #000000;
      }
    }
    .social__link {
      &--fb {
        &::before {
          .bg-svg(@fb-scroll);
        }
        &:hover {
          &::before {
            .bg-svg(@fb-scroll-hover);
          }
        }
      }
      &--inst {
        &::before {
          .bg-svg(@inst-scroll);
        }
        &:hover {
          &::before {
            .bg-svg(@inst-scroll-hover);
          }
        }
      }
    }
  }
}
   
.page-header__blockDescription-rowTop-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    
    background-color: #fff;
    .logo {
      a {
        width: 110px;
        height: 42px;
        background-image: url(%=static=%content/logo-case-img.svg);
      }
    }
    .main-nav__item {
      color: #000000;
    }
    .page-header__subscribe-link {
      color: #000000;
      
      border-color: #000000;
    }
  }
  &--case {
    .social__link {
      &--inst {
        &::before {
          .bg-svg(@inst-scroll);
        }
        &:hover {
          &::before {
            .bg-svg(@inst-scroll-hover);
          }    
        }
      }
      &--fb {
        &::before {
          .bg-svg(@fb-scroll);
        }
        &:hover {
          &::before {
            .bg-svg(@fb-scroll-hover);
          }
        }
      }
    }
  }
}

.page-header__blockDescriptionrowBottom {
  display: flex;
    flex-direction: column;
  position: relative;
    left: 18px;
}

.page-header__headline {
  .reset();
  
  margin-bottom: 30px;
  
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  color: #ffffff;
}

.page-header__text {
  .reset();
  display: block;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 617px;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  color: #ffffff;
  
}

.page-header__link {
  text-align: center;
  border-radius: 30px;
  line-height: 39px;
  margin: 0 auto;
  width: 194px;
  display: inherit;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  font-weight: 700;
  
  text-transform: uppercase;
  letter-spacing: 2px;
  
  text-decoration: none;
  color: #0e4e61;
  background-color: #ffffff;
  
  border: 1px solid transparent;
  
  transition: 0.2s ease;
  &:hover {
    color: #ffffff;
    
    background-color: rgba(0, 15, 86, 0.2);
    
    border-color: #418193;
  }
}
  
.page_header__scroll {
  position: relative;
  
  margin-bottom: 57px;
  padding-top: 68px;
  
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  &::before {
    content: '';
    
    position: absolute;
    top: 7px;
    left: 49.9%;
    
    width: 3px;
    height: 58px;
    
    background-image: url(%=static=%content/scroll.png);
    background-repeat: no-repeat;
  }
}

.page-header__caseDescriptionHead {
  display: flex;
  justify-content: space-between;
  &--pageDesign {
    margin-bottom: 90px;
  }
  &--margin {
    margin-top: 89px;
  }
}

.page-header__caseDescriptionHead-block {
  width: 397px;
  &--text {
    width: 570px;
  }
}

.page-header__caseDescriptionHead-linkWrap {
  margin-bottom: 18px;
}

.page-header__caseDescriptionHead-link {
  display: block;
  margin-bottom: 26px;
  
  font-size: 33px;
  font-weight: 700;
  line-height: 55px;
  color: #16193f;
  text-decoration: none;
  &--portfolio {
    display: inline;
    margin-bottom: 21px;
    
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &--pageDesign {
    margin-bottom: 21px;
    
    font-size: 40px;
  }
}

.page-header__caseDescriptionHead-border {
  width: 393px;
  height: 1px;
  margin-bottom: 9px;
  
  background-color: #000;
}

.page-header__caseDescriptionHead-list {
  .reset();
  
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  
  list-style: none;
}

.page-header__caseDescriptionHead-items {
  margin-right: 34px;
  
  font-size: 16px;
  line-height: 35px;
  font-weight: 700;
  color: #0e4e61;
  text-decoration: none;
}

.page-header__caseDescriptionHead-text {
  .reset();
  
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  color: #000000;
}

.page-header__subscribe-link {
  text-align: center;
  width: 172px;
  text-decoration: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 39px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  &--scroll {
    color: #0829cc;
    
    border-color: #0829cc;
  }
  &--case {
    color: #000000;
    
    border-color: #000000;
  }
}

@media (max-width: 1308px) {
  .page-header__blockDescription-rowTop {
    &--fixed {
      padding-left: 6.25%;
      padding-right: 6.25%;
      .page-header__blockDescription-rowTop-wrap {
        width: auto;
      }
    }
  }
  
  .page_header__scroll {
    margin-bottom: 9px;
  }
  
  .page-header__caseDescriptionWrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .page-header__caseDescriptionHead-linkWrap {
    overflow: hidden;
    height: 64px;
  }
  
  .page-header__caseDescriptionHead-link {
    font-size: 25px;
    line-height: 41px;
    &--portfolio {
      font-size: 24px;
      line-height: 34px;
    }
  }
  
  .page-header__caseDescriptionHead-border {
    width: 92%;
  }
  
  .page-header__caseDescriptionHead-list {
    width: auto; 
  }
  
  .page-header__caseDescriptionHead-block {
    &--case {
      width: 326px;
      margin-right: 38px;
      .page-header__caseDescriptionHead-list {
        justify-content: flex-start;
      }
      .page-header__caseDescriptionHead-items {
        margin-right: 0;
        &:last-child {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    &--text {
      width: 53.25520833333333%;
      flex-grow: 1;
    }
  }
  
  .page-header__caseDescriptionHead-text {
    font-size: 14px;
    line-height: 32px;
  }
}

@media (max-width: 899px) {
  .page-header {
    &--case {
      padding-bottom: 19px;
    }
  }
  
  .page-header__caseDescriptionHead {
    flex-direction: column;
    &--pageDesign {
      margin-bottom: 20px;
    }
  }
  
  .page-header__caseDescriptionHead-block {
    &--case {
      width: auto;
      margin-right: 0;
      margin-bottom: 16px;
      .page-header__caseDescriptionHead-border {
        width: 100%;
      }
      .page-header__caseDescriptionHead-items {
        margin-right: 17px;
        &:last-child {
          margin-left: 0;
          margin-right: 0;
        }
      }
      .page-header__caseDescriptionHead-link {
        margin-bottom: 10px;
      }
    }
    &--text {
      width: auto;
    }
  }
}

@media (max-width: 767px) {
  .page-header {
    .container {
      padding-top: 30px;
    }
  }
  
  .page-header__blockDescription-rowTop {
    &--fixed {
      .page-header__blockDescription-rowTop-wrap {
        align-items: flex-start;
        &--open {
          height: 100vh;
        }
      }
      
      .logo {
        position: relative;
        z-index: 30;
        
        width: 80px;
        height: 30px;
        a {
          .bg-svg(@logo-black-mobile);
        }
      }
      
      .social {
        position: relative;
        top: -2px;
        
        width: auto;
        &--open {
          position: absolute;
          top: auto;
          
          width: 100%;
        }
      }
      
      .social__link {
        margin-right: 20px;
        &--inst {
          &::before {
            .bg-svg(@inst-scroll-mobile);
          }
        }
        &--fb {
          &::before {
            .bg-svg(@fb-scroll-mobile);
          }
        }
      }
      
      .page-header__button {
        position: relative;
        top: 5px;
        z-index: 30;
        
        cursor: pointer;
        
        .bg-svg(@burger-scroll);
        &--open {
          background-image: none;
        }
        &::before,
        &::after {
          background-color: #000000;
        }
      }
    }
  }
  
  .footer-nav {
    .logo {
      width: 100px !important;
      a {
        width: 100px !important;
        height: 38px !important;
        
        background-image: url(%=static=%content/logo-mobile.svg) !important;
        background-position: 0 0;
      }
    }
    .social {
      display: none;
      &--open {
        display: flex;
        &--fb {
          &::before {
            background-image: url(../img/svg-sprite/sprite.svg) !important;
          }
        }
        &--inst {
          &::before {
            background-image: url(../img/svg-sprite/sprite.svg) !important;
          }
        }
      }
    }
    .page-header__button {
      .bg-svg(@page-header-button);
      &--open {
        background-image: none;
        &::before,
        &::after {
          background-color: #ffffff;
        }
      }
    }
  }
  
  .page-header__button {
    position: relative;
    top: -3px;
    
    display: block;
    &--open {
      position: relative;
      
      background-image: none;
      &::before,
      &::after {
        content: '';
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        width: 24px;
        height: 2px;
        margin: auto;
        
        background-color: #fff;
      }
      &::before {
        transform: rotateZ(45deg);
      }
      &::after {
        transform: rotateZ(-45deg);
      }
    }
  }
  
  .page-header__blockDescription-rowBottom {
    position: relative;
    top: -28px;
    
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .page-header__headline {
    margin-bottom: 9px;
    
    font-size: 36px;
    line-height: 46px;
    &--hidden {
      display: none;
    }
  }
  
  .page-header__text {
    width: auto;
    margin-bottom: 21px;
    
    font-size: 14px;
    line-height: 28px;
    &--hidden {
      display: none;
    }
  }
  
  .page-header__link {
    &--hidden {
      display: none;
    }
  }
  
  .page_header__scroll {
    display: none;
  }
  
  .page-header__caseDescriptionHead-items {
    font-size: 14px;
  }
  
  .page-header__caseDescriptionHead-border {
    width: 100%;
  }
}