.portfolio {
  margin-bottom: 78px;
  padding-top: 86px;
}

.portfolio__headline {
  .reset();
  
  margin-bottom: 72px;
  
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  color: #000000;
  text-align: center;
  &--marginTop {
    margin-top: 191px;
  }
}

.portfolio__blocksWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio__cart {
  width: 570px;
  margin-right: 30px;
  margin-bottom: 91px;
  
  text-decoration: none;
  &--hover {
    .page-header__caseDescriptionHead-link {
      color: #0e4e61;
      
      background-image: linear-gradient(to top, #f8e71c 35%, transparent 31%);
    }
    .page-header__caseDescriptionHead-items {
      color: #16193f;
    }
  }
  &:nth-child(2n) {
    margin-right: 0;
  }
  &:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.portfolio__cart-img {
  width: 570px;
  height: 400px;
  margin-bottom: 26px;
  a {
    display: block;
    img {
      display: block;
    }
  }
}