.smm {
  margin-bottom: 91px;
  padding-top: 90px;
  padding-bottom: 90px;
  
  background-color: #f3f6f8;
}

.smm__featuresBlocksWrap {
  display: flex;
  justify-content: center;
}

.smm__featuresBlock {
  &--content {
    width: 272px;
    .smm__featuresBlock-content {
      margin-bottom: 47px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &--img {
    position: relative;
    top: -11px;
    
    width: 300px;
    margin-left: 70px;
    margin-right: 70px;
    img {
      position: relative;
      z-index: 10;
      
      display: block;
    }
    .smm__featuresBlock-heart,
    .smm__featuresBlock-like {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .smm__featuresBlock-heart {
      left: -265px;
      bottom: 58px;
    }
    .smm__featuresBlock-like {
      left: 265px;
      bottom: 58px;
    }
  }
}

.smm__featuresBlock-content {
  &--textAlignRight {
    .smm__featuresBlock-headline,
    .smm__featuresBlock-text {
      text-align: right;
    }
  }
}

.smm__featuresBlock-headline {
  .reset();
  
  margin-bottom: 18px;
  
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #16193f;
}

.smm__featuresBlock-text {
  .reset();
  
  font-size: 14px;
  line-height: 32px;
  line-height: 32px;
  color: #000000;
}

.smm__featuresBlock-heart {
  .bg-svg(@smm-features-heart);
}

.smm__featuresBlock-like {
  .bg-svg(@smm-features-like);
}

.smm__ourSkills-headline {
  .reset();
  
  margin-bottom: 43px;
  
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  color: #16193f;
}

.smm__ourSkills-list {
  .reset();
  
  width: 390px;
  margin-left: 65px;
  
  list-style: none;
}

.smm__ourSkills-items {
  margin-bottom: 45px;
}

.smm__ourSkills-itemHeadline {
  .reset();
  
  position: relative;
  
  margin-bottom: 8px;
  
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  color: #16193f;
  &::before {
    content: '';
    
    position: absolute;
    top: 11px;
    left: -65px;
    
    width: 43px;
    height: 43px;
    
    background-image: url(%=static=%content/smm-skills-item.svg);
    background-repeat: no-repeat;
  }
}

.smm__ourSkills-itemText {
  .reset();
  
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  color: #000000;
}

.smm__ourSkills-itemList {
  .reset();
  
  list-style: none;
}

.smm__ourSkills-itemList-item {
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  color: #000000;
}

.smm__reviews-slider-slide-headline {
  .reset();
  
  position: relative;
  
  margin-bottom: 12px;
  
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #16193f;
  &::before {
    content: '';
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 90px;
    height: 90px;
    
    background-repeat: no-repeat;
  }
  &--author1 {
    &::before {
      background-image: url(%=static=%/content/smm-review-autorImg1.png);
    }
  }
  &--author2 {
    &::before {
      background-image: url(%=static=%/content/smm-review-autorImg.png);
    }
  }
  &--author3 {
    &::before {
      background-image: url(%=static=%/content/smm-review-autorImg3.png);
    }
  }
}

.smm__reviews-slider-slide-title {
  .reset();
  
  margin-bottom: 27px;
  
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #16193f;
}

.smm__reviews-slider-slide-border {
  width: 50px;
  height: 2px;
  margin-bottom: 21px;
  
  background-color: #000000;
}

.smm__reviews-slider-slide-text {
  .reset();
  
  font-size: 16px;
  line-height: 34px;
  font-weight: 300;
  color: #000000;
}