.smm {
  margin-bottom: 98px;
  padding-top: 90px;
  padding-bottom: 72px;
  
  background-color: #f3f6f8;
  &--price {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.smm__featuresBlocksWrap {
  display: flex;
  justify-content: center;
}

.smm__featuresBlock {
  &--content {
    width: 272px;
    .smm__featuresBlock-content {
      margin-bottom: 47px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &--img {
    position: relative;
    top: -11px;
    
    width: 300px;
    margin-left: 70px;
    margin-right: 70px;
    img {
      position: relative;
      z-index: 10;
      
      display: block;
    }
    .smm__featuresBlock-heart,
    .smm__featuresBlock-like {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .smm__featuresBlock-heart {
      left: -265px;
      bottom: 58px;
    }
    .smm__featuresBlock-like {
      left: 265px;
      bottom: 58px;
    }
  }
}

.smm__featuresBlock-content {
  &--textAlignRight {
    .smm__featuresBlock-headline,
    .smm__featuresBlock-text {
      text-align: right;
    }
  }
}

.smm__featuresBlock-headline {
  .reset();
  
  margin-bottom: 18px;
  
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #16193f;
}

.smm__featuresBlock-text {
  .reset();
  
  font-size: 14px;
  line-height: 32px;
  line-height: 32px;
  color: #000000;
}

.smm__featuresBlock-heart {
  .bg-svg(@smm-features-heart);
}

.smm__featuresBlock-like {
  .bg-svg(@smm-features-like);
}

.smm__ourSkills {
  width: 460px;
}

.smm__ourSkills-headline {
  .reset();
  
  margin-bottom: 43px;
  
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  color: #16193f;
}

.smm__ourSkills-list {
  .reset();
  
  width: 390px;
  margin-left: 65px;
  
  list-style: none;
}

.smm__ourSkills-items {
  margin-bottom: 45px;
}

.smm__ourSkills-itemHeadline {
  .reset();
  
  position: relative;
  
  margin-bottom: 8px;
  
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  color: #16193f;
  &::before {
    content: '';
    
    position: absolute;
    top: 11px;
    left: -65px;
    
    width: 43px;
    height: 43px;
    
    background-image: url(%=static=%content/smm-skills-item.svg);
    background-repeat: no-repeat;
  }
}

.smm__ourSkills-itemText {
  .reset();
  
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  color: #000000;
}

.smm__ourSkills-itemList {
  .reset();
  
  list-style: none;
}

.smm__ourSkills-itemList-item {
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  color: #000000;
}

.smm__reviews {
  position: relative;
  
  overflow: hidden;
  width: 810px;
  
  background-image: url(%=static=%content/smm__reviews-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.smm__reviews-slider-slide {
  width: 365px;
  &--prevSlide {
    position: absolute;
    top: 291px;
    left: 529px;
    
    opacity: 0.3;
  }
  &--activeSlide {
    position: absolute;
    top: 650px;
    left: 295px;
  }
  &--nextSlide {
    position: absolute;
    left: 540px;
    bottom: 282px;
    
    opacity: 0.3;
  }
}

.smm__reviews-slider-slide-headline {
  .reset();
  
  position: relative;
  
  margin-bottom: 12px;
  
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #16193f;
  &::before {
    content: '';
    
    position: absolute;
    top: 0;
    left: -148px;
    
    width: 90px;
    height: 90px;
    
    background-repeat: no-repeat;
  }
  &--author1 {
    &::before {
      background-image: url(%=static=%/content/smm-review-autorImg1.png);
    }
  }
  &--author2 {
    &::before {
      background-image: url(%=static=%/content/smm-review-autorImg.png);
    }
  }
  &--author3 {
    &::before {
      background-image: url(%=static=%/content/smm-review-autorImg3.png);
    }
  }
}

.smm__reviews-slider-slide-title {
  .reset();
  
  margin-bottom: 27px;
  
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #16193f;
}

.smm__reviews-slider-slide-border {
  width: 50px;
  height: 2px;
  margin-bottom: 21px;
  
  background-color: #000000;
}

.smm__reviews-slider-slide-text {
  .reset();
  
  font-size: 16px;
  line-height: 34px;
  font-weight: 300;
  color: #000000;
}

.smm__reviews-slider-controls {
  position: absolute;
  top: 767px;
  left: 100px;
  
  display: flex;
  justify-content: space-between;
  width: 677px;
}

.smm__reviews-slider-control {
  .reset();
  
  width: 27px;
  height: 52px;
  
  background-color: transparent;
  background-image: url(%=static=%content/smm__reviews-control.svg);
  background-repeat: no-repeat;
  
  border: none;
  outline: none;
  &--next {
    transform: rotate(180deg);
  }
}

.smm__question {
  position: relative;
  
  padding-top: 92px;
  padding-bottom: 189px;
  
  background-image: url(%=static=%content/smm-question-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.smm__question-slider {
  .slick-prev {
    display: none !important;
  }
  .slick-next {
    position: absolute;
    left: 42%;
    bottom: -125px;
    
    width: 194px;
    
    font-size: 12px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0e4e61;
    
    background-color: #ffffff;

    border-radius: 88px;
    border: none;
    outline: none;
  }
}

.smm__question-slider-slide-headline,
.smm__question-slider-slide-title,
.smm__question-slider-slide-text {
  .reset();
}

.smm__question-slider-slide-headline {
  margin-bottom: 57px;
  
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
  color: #ffffff;
}

.smm__question-slider-slide-title {
  margin-bottom: 20px;
  
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.smm__question-slider-slide-text {
  width: 540px;
  margin: 0 auto;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.smm__price {
  padding-top: 91px;
  padding-bottom: 72px;
  
  background-color: #ffffff;
}

.smm__price-headline {
  .reset();
  
  margin-bottom: 56px;
  
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  color: #16193f;
  text-align: center;
}

.smm__price-cart {
  margin-bottom: 18px;
  
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}

.smm__price-cart-blocksWrap {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 65px;
  padding-right: 48px;
  padding-bottom: 32px;
}

.smm__price-cart-blockPrice-title,
.smm__price-cart-blockPrice-priceText {
  .reset();
}

.smm__price-cart-blockPrice {
  width: 160px;
  margin-right: 174px;
}

.smm__price-cart-blockPrice-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #16193f;
  &--pro {
    position: relative;
    &::before {
      content: 'BEST SELLER';
      
      position: absolute;
      top: -23px;
      left: 0;
      
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #111230;
    }
    &::after {
      content: '';
        
      position: absolute;
      top: 6px;
      left: -17px;

      width: 14px;
      height: 14px;

      background-image: url(%=static=%content/smm-star.svg);
      background-repeat: no-repeat;
    }
  }
  &--lineHeight {
    line-height: 36px;
  }
}

.smm__price-cart-blockPrice-priceText {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  color: #16193f;
}

.smm__price-cart-blockText-list {
  .reset();
  
  list-style: none;
}

.smm__price-cart-blockText-items {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.smm__price-cart-blockMore {
  margin-left: auto;
  margin-right: 54px;
}

.smm__price-cart-blockMore-text {
  .reset();
  
  position: relative;
  
  padding-right: 21px;
  
  font-size: 12px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
  color: #0e4e61;
  letter-spacing: 2px;
  
  cursor: pointer;
  &::before {
    content: '';
    
    position: absolute;
    top: -2px;
    bottom: 0;
    right: 0;
    
    width: 10px;
    height: 4px;
    margin: auto;
    
    background-image: url(%=static=%content/smm__price-cart-blockMore-text.svg);
    background-repeat: no-repeat;
    
    transition: 0.2s ease;
  }
  &--active {
    &::before {
      transform: rotate(180deg);
    }
  }
}

.smm__price-cart-blockMore-accordionWrap {
  display: flex;
  justify-content: space-between;
  height: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.03);
  border-radius: 0 0 5px 5px;
  background-color: rgba(251, 251, 251, 0.25);
  
  transition: all 0.5s ease;
  &--visible {
    height: auto;
    padding-top: 53px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 58px;
    
    transition: all 0.5s ease;
    .smm__price-cart-blockMore-accordion-items {
      font-size : 14px;
    }
  }
}

.smm__price-cart-blockMore-accordion-list {
  .reset();
  
  width: 304px;
  
  list-style: none;
}

.smm__price-cart-blockMore-accordion-items {
  position: relative;
  
  margin-bottom: 17px;
  padding-left: 12px;
  
  font-size: 0;
  //font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: '';
    
    position: absolute;
    top: 11px;
    left: 0;
    
    display: none;
    width: 2px;
    height: 2px;
    
    background-color: #000000;
  }
}

.smm__price-cart-priceButton {
  .reset();
  
  width: 200px;
  padding-top: 23px;
  padding-bottom: 27px;
  
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  
  background-color: transparent;
  background-image: url(%=static=%content/smm-button.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .seo__headline {
    margin-bottom: 10px;
    
    font-size: 26px;
    font-weight: 700;
    line-height: 41px;
  }
  
  .smm {
    margin-bottom: 33px;
    padding-top: 0;
    padding-bottom: 0;
    &--iphone {
      background-color: transparent;
    }
    &--price {
      padding-top: 48px;
    }
  }
  
  .smm__featuresBlocksWrap {
    flex-direction: column;
  }
  
  .smm__featuresBlock {
    &--content {
      width: auto;
      .smm__featuresBlock-content {
        margin-bottom: 41px;
      }
    }
    &--img {
      position: static;
      
      order: 2;
      margin-left: 0;
      margin-right: 0;
      img {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        
        width: 271px;
        height: 558px;
        margin: auto;
      }
      .smm__featuresBlock-heart,
      .smm__featuresBlock-like {
        display: none;
      }
    }
    &--mobileOrder1 {
      order: 1;
      height: 575px;
    }
    &--mobileOrder2 {
      order: 2;
      margin-bottom: 41px;
    }
    &--mobileOrder3 {
      order: 3;
    }
  }
  
  .smm__featuresBlock-content {
    &--textAlignRight {
      .smm__featuresBlock-headline {
        text-align: center;
      }
      .smm__featuresBlock-text {
        text-align: center;
      }
    }
  }
  
  .smm__featuresBlock-headline {
    text-align: center;
  }
  
  .smm__featuresBlock-text {
    text-align: center;
  }
  
  .smm__ourSkills {
    width: auto;
  }
  
  .smm__reviews {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
   
    width: 100%;
    
    background-image: url(../img/content/smm__reviews-bg-mobile.png);
    background-size: 380px;
    background-position: 0 -26px;
  }
  
  .smm__ourSkills-headline {
    margin-bottom: 20px;
    
    font-size: 26px;
    font-weight: 700;
    line-height: 41px;
    text-align: center;
  }
  
  .smm__ourSkills-list {
    width: auto;
    margin-left: 0;
  }
  
  .smm__ourSkills-items {
    padding-top: 87px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 20px;
    
    box-shadow: 3px 2px 8px 3px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    background-color: #ffffff;
  }
  
  .smm__ourSkills-itemHeadline {
    &::before {
      top: -65px;
      left: 0;
      right: 0;
      
      margin: auto;
    }
  }
  
  .smm__reviews-slider-slide {
    position: static;
    
    width: auto;
    &--prevSlide {
      display: none;
      padding-top: 120px;
      
      opacity: 1;
    }
    &--activeSlide {
      padding-top: 120px;
    }
    &--nextSlide {
      display: none;
      padding-top: 120px;
      
      opacity: 1;
    }
  }
  
  .smm__reviews-slider {
    padding: 0 6.25%;
    padding-top: 52px;
    padding-bottom: 40px;
  }
  
  .smm__reviews-slider-slide-headline,
  .smm__reviews-slider-slide-title,
  .smm__reviews-slider-slide-text {
    text-align: center;
  }
  
  .smm__reviews-slider-slide-border {
    margin: 0 auto 14px auto;
  }
  
  .smm__reviews-slider-slide-headline {
    &::before {
      top: -110px;
      left: 0;
      right: 0;
      
      margin: auto;
    }
  }
  
  .smm__reviews-slider-controls {
    position: static;
    
    width: auto;
    
    transform: translateY(18px);
  }
  
  .smm__reviews-slider-control {
    background-image: url(../img/content/smm__reviews-control-mobile.svg);
    &--prev {
      background-position: 4px 11px;
    }
    &--next {
      background-position: 0px 15px;
    }
  }
  
  .smm__question {
    padding-top: 45px;
    padding-bottom: 110px;
  }
  
  .smm__question-slider-slide-headline {
    margin-bottom: 6px;
    
    font-size: 26px;
    font-weight: 700;
    line-height: 41px;
  }
  
  .smm__question-slider-slide-title {
    margin-bottom: 12px;
    
    line-height: 26px;
  }
  
  .smm__question-slider-slide-text {
    width: auto;
  }
  
  .smm__question-slider {
    .slick-next {
      left: 0;
      right: 0;
      bottom: -60px;
      
      margin: auto;
    }
  }
  
  .smm__price {
    padding-top: 48px;
    padding-bottom: 0;
  }
  
  .smm__price-cart-blocksWrap {
    flex-direction: column;
  }
  
  .smm__price-headline {
    margin-bottom: 11px;
    
    font-size: 26px;
    font-weight: 700;
    line-height: 41px;
  }
  
  .smm__price-cart {
    &--mobileOpen {
      position: relative;
      .smm__price-cart-blocksWrap {
        padding-bottom: 3px;
      }
      .smm__price-cart-blockMore {
        margin-bottom: 0;
      }
      .smm__price-cart-priceButtonWrap {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        
        text-align: center;
      }
      .smm__price-cart-blockMore-accordionWrap {
        padding-bottom: 125px;
      }
    }
  }
  
  .smm__price-cart-blockPrice {
    margin: 0 auto;
  }
  
  .smm__price-cart-blockPrice-title,
  .smm__price-cart-blockPrice-priceText {
    text-align: center;
  }
  
  .smm__price-cart-blockText-list {
    display: none;
  }
  
  .smm__price-cart-blockMore {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    
    transform: translateX(9px);
  }
  
  .smm__price-cart-priceButton {
    padding-bottom: 25px;
    
    color: #0e4e61;
    
    background-image: none;
    
    border-radius: 88px;
    border: 1px solid #0e4e61;
  }
  
  .smm__price-cart-blockMore-accordionWrap {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    
    background-color: transparent;
    box-shadow: none;
    &--visible {
      .smm__price-cart-blockMore-accordion-items {
        &::after {
          display: block;
        }
      }
    }
  }
  
  .smm__price-cart-blockMore-accordion-list {
    padding-left: 10px;
  }
  
  .smm__price-cart-blockMore-accordion-items {
    position: relative;
    
    margin-bottom: 0;
    &::after {
      content: '';
      
      position: absolute;
      top: 12px;
      left: 0;
      
      display: none;
      width: 2px;
      height: 2px;
      
      background-color: #000000;
    }
  }
}