.social {
  display: flex;
}

.social__link {
  position: relative;
  
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
  &::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    margin: auto;
  }
  &--inst {
    &::before {
      .bg-svg(@inst);
    }
    &:hover {
      &::before {
        .bg-svg(@inst-hover);
      }
    }
  }
  &--fb {
    &::before {
      .bg-svg(@fb);
    }
    &:hover {
      &::before {
        .bg-svg(@fb-hover);
      }
    }
  }
}