.social {
  display: flex;
}

.social__link {
  position: relative;
  
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
  &::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    margin: auto;
  }
  &--inst {
    &::before {   
      width: 40px;
      height: 40px;
      
      background-image: url(%=static=%content/inst.svg);
      background-repeat: no-repeat;
    }
    &:hover {
      &::before {
        background-image: url(%=static=%content/inst-hover.svg);
        background-repeat: no-repeat;
      }
    }
  }
  &--fb {
    &::before {
      width: 40px;
      height: 40px;
      
      background-image: url(%=static=%content/fb.svg);
      background-repeat: no-repeat;
    }
    &:hover {
      &::before {
        background-image: url(%=static=%content/fb-hover.svg);
        background-repeat: no-repeat;
      }
    }
  }
}

@media (max-width: 767px) {
  .social {
    position: absolute;
    left: 0;
    bottom: 6%;
    
    justify-content: center;
    width: 100%;
    &--open {
      flex-direction: column;
      align-items: center;
      bottom: 85px;
      .social__link {
        &::before {
          left: -4px;
        }
        &--inst {
          margin-right: 0;
          margin-bottom: 50px;
        }
      }
    }
  }
} 