html {
  overflow-x: hidden;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1308px) {
  .container {
    width: auto;
  }
}

img {
  width: 100%;
  height: auto;
}