html {
  overflow-x: hidden;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  &--reviews {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1308px) {
  .container {
    width: auto;
    padding: 0 4.25%;
  }
}

@media (max-width: 767px) {
  html {
    overflow-x: visible;
  }
  .container {
    padding: 0 6.25%;
  }
}

img {
  width: 100%;
  height: auto;
}